<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>최현호</title>
</head>
<body>
    <form action="/regist" method="POST">
        <table align="center">
            <th>Regist</th>
            <tr><td><input type="text" placeholder="Id" name="id" id="id"></td></tr>
            <tr><td><input type="password" placeholder="Password" name="pw" id="pw"></td></tr>
            <tr align="center"><td align="center"><input type="submit" align="center"></td></tr>
        </table>
    </form>
</body>
</html>